{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center; color: #bb86fc; margin-bottom: 20px; animation: fadeIn 1s ease-in-out;">{{ title }}</h1>
  <form method="post" enctype="multipart/form-data" style="background-color: #918a8a; padding: 20px; border-radius: 8px; max-width: 600px; margin: 0 auto; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); animation: slideIn 1s ease-in-out;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="background-color: #bb86fc; color: #121212; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;">
      {% if form.instance.pk %}
        Update Task
      {% else %}
        Add Task
      {% endif %}
    </button>
  </form>
{% endblock %}

<style>
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slideIn {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    form button:hover {
        background-color: #9f67e3;
    }
</style>
